@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display');


:root {
  background-color: #050406;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

body {
  /*overflow: hidden;*/
  /*background-color: #050406;*/
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Media query untuk layar dengan lebar maksimum 768px (misalnya perangkat seluler) */
@media screen and (max-width: 768px) {
  body {
    overflow: visible;
    /* Atur overflow menjadi visible untuk layar perangkat seluler */
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
